<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hey Everyone!, I'm Stephanie Liew, an aspiring, self-taught iOS Software Engineer based in New York. I have a passion for Tech & Creativity. I want to make an impact on people’s lives in some way through programming. The lucrative opportunity to learn iOS development without a degree is a rewarding, memorable experience.</p>
      </div>
      <div class="col-lg-4">
        <p>An iOS course sparked my interest to take the mobile development path. The rest was history. I kept learning and coding to a point where I was able to build my own apps. Building on my own was definitely not easy. It was a fun and challenging experience. </p>
      </div>
      <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div> -->
    </div>
  </div>
</section>
